interface ethernet 1/4
ip address {{ eth1_4_ip_address }}/{{ eth1_4_netmask }}

interface Loopback101
ip address {{ loopback101_ip_address }}/{{ loopback101_netmask }}

interface Loopback102 
ip address {{ loopback102_ip_address }}/{{ loopback102_netmask }}


